<div class="banner banner-rows banner-primary">
    
    <nav id="menu">
        <ul>
            <li *ngIf="!authenticated"><a class="navLink" [routerLink]="'/signup'"><img class="btnimage" src="assets/signup.png" alt="signup" /></a></li>
            <li *ngIf="!authenticated"><a class="navLink" [routerLink]="['/signin']"><img class="btnimage" src="assets/signin.png" alt="signin" /></a></li>
            <li *ngIf="authenticated"><a class="navLink" [routerLink]="'/leader'"><img class="btnimage" src="assets/leaderboard.png" alt="leaderboard" /></a></li>
            <li *ngIf="authenticated"><a class="navLink" [routerLink]="'/profile'"><img class="btnimage" src="assets/profile.png" alt="profile" /></a></li>
            <li *ngIf="authenticated"><a class="navLink" [routerLink]="'/team'"><img class="btnimage" src="assets/team.png" alt="team" /></a></li>
            <li *ngIf="authenticated"><a class="navLink" [routerLink]="['/signout']"><img class="btnimage" src="assets/signout.png" alt="signout" /></a></li>
        </ul>
    </nav>

</div>
