<div class="content">

<div id="reset">
    <div id="resetbody">
      <form [formGroup]="resetform" (ngSubmit)="onSubmit()" style="position:relative;">
        <div class="row g-4">
          <div class="col-lg">
              <label class="form-label">Enter New Password</label>
              <input type="password" formControlName="password1" class="form-control" />
              <div *ngIf="submitted && f['password1'].errors" class="text-danger">
                <div *ngIf="f['password1'].errors['required']">Password is required</div>
                <div *ngIf="f['password1'].errors['minlength']">Password is too short</div>
              </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg">
              <label class="form-label">Re-Enter New Password</label>
              <input type="password" formControlName="password2" class="form-control" />
              <div *ngIf="submitted && f['password2'].errors" class="text-danger">
                <div *ngIf="f['password2'].errors['required']">Password is required</div>
                <div *ngIf="f['password2'].errors['passwordMatchValidator']">Passwords must match</div>
              </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg">
              <div class="center">
                  <div class="flexItem">
                      <button class="btn btn-primary" [disabled]="!enabled">Update New Password</button>
                  </div>
              </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg">
              <div class="center">
                  <div class="flexItem">
                      <div *ngIf="errorMessage != ''" class="text-danger"> {{ errorMessage }} </div>
                  </div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
